@page "{id}"
@using game_queue_front.Service;
@{
    var matchId = Convert.ToInt32(RouteData.Values["id"]);
    var match = StaticDataProvider.Instance.Matches[matchId];
}

<div class="card">
    <img class="card-img-top p-3" src="@match.Map.CoverImageUrl" alt="Minimap image" style="width: 40rem">
    <div class="card-body">
        <h3 class="card-title">@match.Name</h3>
        <p class="card-text">@match.Map.ToString()</p>

        <div class="card" style="width: 18rem;">
            @if (match.Players.Count == 0) {
                <div class="card-body">
                    No players
                </div>
            } else {
                <div class="card-header">
                    Players (@match.Players.Count/@match.Map.MaxPlayersCount):
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var player in match.Players) {
                        <li class="list-group-item">@player.ToString()</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>